
<header>
  <div class="container">
  <div class="row">
    <div class="col-3">Acnostia</div>
      <ul class="nav offset-2 col-6 justify-content-start">
        <li class="nav-item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li class="nav-item"><a routerLink="about/" routerLinkActive="active">About</a></li>
        <li class="nav-item"><a routerLink="services/" routerLinkActive="active">Services</a></li>
        <li class="nav-item"><a routerLink="works/" routerLinkActive="active">Works</a></li>
        <li class="nav-item"><a routerLink="contacts/" routerLinkActive="active">Contacts</a></li>
      </ul>
  </div>
  </div>
</header>
